html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html, body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  width: 100%;
  height: 100%;
  color: #333;
}

.intro {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  top: 2em;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.fruit1,
.fruit2,
.fruit3,
.fruit4,
.fruit5,
.fruit6 {
  width: 60%;
  margin: 0 auto;
  height: 30em;
  color: #333;
  margin-top: 7em;
  background-color: #fff;
  position: relative;
}

.fruit1 {
  border: .3em solid #FFC0C0;
  .radio-item:checked + span::before {
    background-color: #FFC0C0;
  }
  display: block;
}

.fruit2 {
  border: .3em solid #D8C0FF;
  .radio-item:checked + span::before {
    background-color: #D8C0FF;
  }
  display: none;
}

.fruit3 {
  border: .3em solid #C0EBFF;
  .radio-item:checked + span::before {
    background-color: #C0EBFF;
  }
  display: none;
}

.fruit4 {
  border: .3em solid #C0FFC2;
  .radio-item:checked + span::before {
    background-color: #C0FFC2;
  }
  display: none;
}

.fruit5 {
  border: .3em solid #FFFAC0;
  .radio-item:checked + span::before {
    background-color: #FFFAC0;
  }
  display: none;
}

.fruit6 {
  border: .3em solid #E5E1AC;
  .radio-item:checked + span::before {
    background-color: #E5E1AC;
  }
  display: none;
}

.question {
  width: 80%;
  position: relative;
  top: 20%;
  font-size: 1.2em;
  line-height: 1.7em;
  margin: 0 auto;
  text-align: center;
}

form {
  top: 30%;
  position: relative;
  font-size: 1.1em;
  margin: 0 auto;
  width: 40%;
}

.radio-item {
  display: none;
}

label {
  display: block;
  margin-top: 1.2em;
}

.radio-item + span::before {
  position: relative;
  left: -1em;
  cursor: pointer;
  content: '';
  display: inline-block;
  float: right;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: .2em solid #333;
  transform: translateY(10%);
}

.radio-item:checked + span::before {
  background-color: #FFC0C0;
}

.progress, .restart {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

input {
  margin-top: 1.2em;
}

footer .container {
  margin-top: 10em;
}

.source {
  text-align: center;
}

.correct {
  color: green;
  position: absolute;
  bottom: 2em;
  right: 40%;
}

.incorrect {
  color: red;
  position: absolute;
  bottom: 2em;
  right: 40%;
}

@media (min-width: 600px) {
  .intro {
    font-size: 1em;
  }
}